/* Stylesheet for Mobile App*/

 /* Reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,li,header,footer, nav{
	margin:0;
	padding:0;
}

/* Universal Style */
body {
	background-color:gold;
}
div#container{
	width:1200px;
	height:800px;
	background-color:aqua;
}